<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Ubah', edit_user_path(@user) %> |
<%= link_to 'Kembali', users_path %>
